@using ArtFold.Models
@{
    Layout = null;
}
@model UserLogin

<!DOCTYPE html>
<html dir="ltr">

<head>
    <title>Login</title>
    <link href="~/lib/adminmart-master/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url('@Url.Content("~/lib/adminmart-master/images/big/auth-bg.jpg")') no-repeat center center">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="padding: 0">
                    <img src="@Url.Content("~/lib/adminmart-master/images/big/banner.jpg")" style="
                                width: 100%;
                                height: 100%;
                                object-fit: fill" />
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <h2 class="mt-3 text-center">Sign In</h2>
                        <p class="text-center">Enter your email address and password to access admin panel.</p>
                        @if (ViewBag.Role != null && ViewBag.Role == "User")
                        {
                            <p id="notitext" class="text-center text-danger">You are signed in as a User. Admin privileges are required for access.</p>
                        }
                        @if (ViewBag.Exist != null && ViewBag.Exist == "not")
                        {
                            <p id="notitext" class="text-center text-danger">Email or Password wrong.</p>
                        }
                        <form class="mt-4" id="loginForm" method="post" asp-action="Login" asp-area="Admin" asp-controller="AdminAuthentication">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="uemail">Email</label>
                                        <input asp-for="Email" name="email" class="form-control" id="email" type="email"
                                               placeholder="enter your email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="pwd">Password</label>
                                        <input asp-for="Password" name="password" class="form-control" id="pwd" type="password"
                                               placeholder="enter your password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="button" id="loginsubmit" class="btn btn-block btn-dark">Sign In</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="~/lib/jquery/dist/jquery.min.js "></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $("#loginForm").validate({
            rules: {
                email: {
                    required: true,
                    normalizer: function (value) {
                        return $.trim(value);
                    }
                },
                password: {
                    required: true
                }
            },
            messages: {
                email: {
                    required: "Please enter email."
                },
                password: {
                    required: "Please enter password."
                }
            },
            errorClass: "text-danger",
            validClass: "text-success",
            errorElement: "span"
        });
        $('#loginsubmit').on('click', function (e) {
            $('#notitext').remove();
            e.preventDefault();
            var form = $('#loginForm');
            if (form.valid()) {
                form.submit();
            }
        });
    </script>


    <!-- Bootstrap tether Core JavaScript -->
    @*   <script src="assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js "></script> *@
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    @*    <script>
    $(".preloader ").fadeOut();
    </script> *@
</body>

</html>